.contain{
  width:100vh;
  height:100vw;
  :global{
    .taro-video {
      height: 100vw;
      width:100vh;
    }
    .taro-video-bar{
      height:0;
    }
  }
}
.imageRed{
  position: fixed;
  z-index: 3;
  width:200px;
  height:80%;
  bottom:0;
  left: 20%;
  cursor: pointer;
}
.imageYellow{
  position: fixed;
  z-index: 3;
  width:200px;
  height:80%;
  bottom:0;
  right: -61%;
  cursor: pointer;
}
.imageBlue{
  position: fixed;
  z-index: 3;
  width:200px;
  height:80%;
  bottom:0;
  right: -35%;
  cursor: pointer;
}
.image{
  width:100vh;
  height:100vw;
  //animation: playImage 2s  ease-in-out;
}
@keyframes playImage {
  0%{
    transform: scale(2, 2);
  }
  100%{
    transform: scale(1, 1);
    transition:transform 2s ease-in-out;
  }
}
.clickImage{
  position: fixed;
  width: 150px;
  height: 200px;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}
.clickImage4{
  position: fixed;
  width: 150px;
  height: 200px;
  top: 0;
  left: 100px;
  margin: auto;
}
.clickImage9{
  position: fixed;
  width: 150px;
  height: 200px;
  bottom:0;
  right: -60%;
}
.name3{
  position: absolute;
  bottom:22%;
  left:20%;
  font-size: 40px;
  font-family: "LiSu",SansSerif;
}
.clickImage13{
  position: fixed;
  width: 250px;
  height: 300px;
  bottom:15%;
  right: -48%;
}
.clickImage14{
  position: fixed;
  width: 250px;
  height: 300px;
  top:0;
  right: -30%;
}
.clickImage15{
  position: fixed;
  width: 200px;
  height: 200px;
  top:30%;
  right: -30%;
}
.clickImage16{
  position: fixed;
  width: 200px;
  height: 200px;
  top:0;
  right: -60%;
}
