

.contain{
  -webkit-transform:rotate(90deg);
  transform: rotate(90deg);
  :global{
    .taro-video {
      height: 100vw;
      width:100vh;
    }
    .taro-video-bar{
      height:0;
    }
  }
}
.image{
  width:100vh;
  height:100vw;
  //animation: playImage 2s  ease-in-out;
}
@keyframes playImage {
    0%{
      transform: scale(2, 2);
    }
  100%{
    transform: scale(1, 1);
    transition:transform 2s ease-in-out;
  }
}

.clickImage{
  position: fixed;
  width: 260px;
  height: 200px;
  bottom:10px;
  right: -15%;
}
.clickImage6{
  position: fixed;
  width: 150px;
  height: 200px;
  bottom:0;
  right: -65%;
  margin: auto;
}
.clickImage7{
  position: fixed;
  width: 540px;
  height: 550px;
  bottom:0;
  right:-47%;
}
.clickImage8{
  position: fixed;
  width: 150px;
  height: 200px;
  top:55px;
  right: -51%;
}
.clickImage9{
  position: fixed;
  width: 150px;
  height: 200px;
  bottom:0;
  right: -63%;
}
.input{
  position: absolute;
  z-index: 10;
  width:150px;
  height: 20px;
  left:89%;
  top: 36%;
  font-size: 18px;
}
.comfirm{
  position: fixed;
  width:25px;
  z-index: 10;
}
.name{
  position: absolute;
  bottom:24%;
  left:20%;
  font-size: 40px;
  font-family: "LiSu",SansSerif;
}
.clickImage15{
  position: fixed;
  width: 200px;
  height: 250px;
  bottom:40%;
  right: -60%;
}
.clickImage17{
  position: fixed;
  width: 150px;
  height: 150px;
  top:0;
  right: -57%;
}
.name18{
   position: absolute;
   bottom:18.2%;
   left:13%;
  font-size: 40px;
  font-family: "LiSu",SansSerif;
 }
.clickImage21{
  position: fixed;
  width: 200px;
  height: 250px;
  top:25%;
  right: -60%;
}
.clickImage23{
  position: fixed;
  width:450px;
  height: 350px;
  top:17%;
  right: -60%;
}
